<div xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
    <h2>Cadastro</h2>
    <form class="inline" method="post">
        <div>
            <input type="email" value="" placeholder="E-mail" name="email"/>
            <input type="text" value="" placeholder="Nome de Usuário" name="nameUsr"/>
            <input type="text" value="" placeholder="Nome Fictício" name="nameFic"/>
            <input type="password" value="" placeholder="Senha" name="refSenha"/>
            <button type="submit">Cadastrar</button>
        </div>
    </form>
</div>
