<div xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
    <h2>Cadastro</h2>
    <form method="post" th:object='${cadastro}'>
        <div>
            <input type="email" value="" placeholder="E-mail" th:field='*{email}'/>
            <input type="text" value="" placeholder="Nome de Usuário" th:field='*{nameUsr}'/>
            <input type="text" value="" placeholder="Nome Fictício" th:field='*{nameFan}'/>
            <input type="password" value="" placeholder="Senha" th:field='*{refSenha}'/>
            <button type="submit">Cadastrar</button>
        </div>
    </form>
</div>
