<div xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
    <h2>Tela de Login - Login Help Me!</h2><br>
        <!--Formulário de E-mail e Senha-->
        <form class="inline" method="post" th:object='${login}'>
            
            <div th:switch='${msgError}'>
                <p th:case='null'>
                    <!-- Possivel troca para CSS -->
                    <font size="4" face="Calibri">
                        Faça o Login!
                    </font>
                </p>
            
                <p th:case='*'>
                    <!-- Possivel troca para CSS -->
                    <font size="4" face="Calibri" color="red">
                        <span th:text='${msgError}'></span>
                    </font>
                </p>
            </div>
            
            <!-- Field E-mail -->
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <label class="mdl-textfield__label" for='email'>E-mail</label>
                <input class="mdl-textfield__input" type="email" th:field='*{email}'/>
            </div>
            
            <!-- Field Senha -->
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <label class="mdl-textfield__label" for='refSenha'>Senha</label>
                <input class="mdl-textfield__input" type="password" th:field='*{refSenha}'/>              
            </div>
            
            <!-- Button Login -->
            <button class="mdl-button mdl-js-button mdl-button--raised" type="submit">Login</button>
        </form>
        <br>
        <a href="/cadastro">Cadastrar</a>
</div>
