<div xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
    <div class="body"></div>
    <div class="grad"></div>
    <div class="header">
        <div>HelpMe!<span>Login</span></div>
    </div>
    <br>
    <!--Formulário de E-mail e Senha-->
    <div class="login">
        <!-- Form -->
        <form method="post" th:object='${login}'>

            <div>
                <!-- Field E-mail -->
                <input type="email" placeholder="E-mail" th:field='*{email}'/>

                <!-- Field Senha -->
                <input type="password" placeholder="Senha" th:field='*{refSenha}'/>              

                <!-- Button Login -->
                <button type="submit">Login</button>

            </div>
                
            <!-- Msg Error -->
            <div th:switch='${msgError}'>
                <!-- Begin -->
                <p th:case='null'>
                    <!-- Possivel troca para CSS -->
                    <font size="4" face="Calibri" color="red">
                        Faça o Login!
                    </font>
                </p>

                <!-- Error Message -->
                <p th:case='*'>
                    <!-- Possivel troca para CSS -->
                    <font size="4" face="Calibri" color="red">
                        <span th:text='${msgError}'></span>
                    </font>
                </p>
            </div>
                
                <a href="/cadastro">Cadastrar</a>
            </form>
        </div>     
</div>